.root {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  height: 60px;
  border-bottom: 1px solid var(--color-black);
}

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.mobileNav {
  flex: 1;
  justify-content: space-between;
  display: none;
  align-items: center;

  @media (--m-to-s) {
    display: flex;
  }
}

.mobileNavIcon {
  cursor: pointer;
}

.mobileNavOverlay {
  background: var(--color-white);
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  z-index: 10;
  top: 60px;
  left: 0;
  display: none;
  padding: 16px;
}

.isVisibleMobileNavOverlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mobileNavItem {
  margin-top: 16px;
}

.mobileNavItem:first-child {
  margin-top: 0;
}
