.root {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  height: 60px;
  border-bottom: 1px solid var(--color-black);
}

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.item {
  padding-left: 16px;
  cursor: pointer;
}

.item:first-child {
  padding-left: 0;
}
