.root {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 48px;
  border-bottom: 1px solid var(--color-black);
  color: var(--color-black);
  background-color: var(--color-white);
}

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.primary,
.secondary {
  display: flex;
  align-items: center;
}

.navItem {
  margin-left: 16px;
  display: none;
  cursor: pointer;
}

@media (--xl-to-m) {
  .navItem {
    display: block;
  }
}

.navItem {
  color: var(--color-black);
}

.logo,
.toggleMobileMenu {
  padding: 16px;
  display: block;
}

.mobileOverlay {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 48px);
  top: 48px;
  left: 0;
  z-index: 1000;
  background-color: var(--color-white);
  padding: 16px;
  overflow-y: scroll;
}

.mobileNav {
  padding-bottom: 32px;
}

.mobileNav,
.mobileNavItem {
  margin-top: 32px;

  &:first-child {
    margin-top: 0;
  }
}

.event {
  margin-top: 8px;
  display: flex;
}

.event > * {
  margin-right: 16px;
}

.admin {
  display: none;

  @media (--xl-to-m) {
    display: block;
  }
}
