.root {
  box-shadow: 0px 1px 0px 0px var(--color-black);
  padding-bottom: 8px;
  outline: none;
  display: flex;
  width: 100%;
  position: relative;

  &:focus {
    box-shadow: 0px 2px 0px 0px var(--color-black);
  }
}

.hasError {
  border-bottom-color: var(--color-red);
  color: var(--color-red);
}

.value {
  flex: 1;
  text-align: left;
  color: var(--color-black);
}

.options {
  min-width: 100%;
  z-index: 800;
  background-color: var(--color-white);
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  border: 1px solid var(--color-black);
}

.option {
  padding: 8px 8px 8px 0;
  border-bottom: 1px solid var(--color-black);
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  color: var(--color-black);

  &:last-child {
    border-bottom: none;
  }
}

.isActiveOption {
  background-color: var(--color-lila-400);
  color: var(--color-black);
}

.checkIcon {
  margin: 0 4px;
  opacity: 0;
}

.isSelectedOption {
  color: var(--color-white);
  background-color: var(--color-lila);
}

.isSelectedOption .checkIcon {
  opacity: 1;
}

.optionLabel {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.tag {
  display: flex;
  margin-top: 8px;
  white-space: nowrap;

  &:first-child {
    margin-top: 0;
  }
}
