@import "../../components/layout/layout.module.css";

html {
  overflow: auto;
  height: 100%;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
