/* Breakpoints */

@custom-media --xl (min-width: 1713px);

@custom-media --l (min-width: 1024px) and (max-width: 1712px);

@custom-media --m (min-width: 640px) and (max-width: 1023px);

@custom-media --s (max-width: 639px);

/* Ranges */

@custom-media --xl-to-l (min-width: 1024px);

@custom-media --xl-to-m (min-width: 640px);

@custom-media --l-to-m (min-width: 640px) and (max-width: 1712px);

@custom-media --l-to-s (max-width: 1712px);

@custom-media --m-to-s (max-width: 1023px);

/* Device media queries */

/*
On touch devices applying hover styles is undesired in most cases.
Wrap these usages of :hover pseudo class with this media query:

@media (--hover) {
  .foo:hover {
    (...)
  }
}

*/

@custom-media --hover (any-hover: hover) and (pointer: fine);

:root {
  --color-black: #333333;
  --color-migrey: #a2a2a2;
  --color-light: #fff;

  --color-dark: #333;
  --color-lightgrey: #f2f2f2;
  --color-error: #ff0000;
  --color-grey: #a2a2a2;
  --color-blue: #5759fb;
  --color-lightblue: #cdcefe;
  --color-flash: #1687ff;
  --color-top: #02deaf;
  --color-top-400: #d1f6eb;
  --color-resign: #ff5d5f;
  --color-warning: #fcf6a4;
  --color-white: #ffffff;
  --color-lila: #5759fb;
  --color-lila-400: #cdcefe;
  --color-yellow: #fff617;
  --color-red: rgba(255, 0, 79, 1);
  --color-red-400: rgb(246, 190, 206);
  --color-ice: #cfffff;

  /* Typography */
  --font-family-sans: "Karla", sans-serif;
  --font-family-mono: "IBM Plex Mono", monospace;

  /* Spacing */
  --spacing-unit: 8px;
  --content-max-width: 1200px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-black: #ffffff;
    --color-white: #121212;
  }
} */

/* Environment specific variables */

:root {
  --available-screen-height: 100vh;
}

/* iOS Safari */
@supports (-webkit-touch-callout: none) {
  :root {
    --available-screen-height: -webkit-fill-available;
  }
}
