.root {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
}

.skFoldingCube {
  width: 20px;
  height: 20px;
  transform: rotateZ(45deg);
}

.skCube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.skCube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
  background-color: var(--color-lila);
}

.skCube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.skCube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.skCube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.skCube2:before {
  animation-delay: 0.3s;
}

.skCube3:before {
  animation-delay: 0.6s;
}

.skCube4:before {
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
