.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.midGrey {
  color: var(--color-migrey);
}

.lila {
  color: var(--color-lila);
}

.danger {
  color: var(--color-red);
}
