.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;

  @media (--m) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (--s) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sideTitle {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.sideContent {
  grid-column: 1 / -1;
  margin-top: 50px;
}

.full {
  grid-column: 1 / span 12;
}
