.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;

  @media (--m) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (--s) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.inlineFlex {
  display: inline-flex;
}
