.alpha {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-size: 32px;
  line-height: 36px;

  @media (--s) {
    font-size: 22px;
    line-height: 24px;
  }
}

.alpha700 {
  @extend .alpha;
  font-weight: bold;
}

.gamma {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.gamma700 {
  @extend .gamma;
  font-weight: bold;
}

.delta {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;

  @media (--xl-to-l) {
    font-size: 16px;
    line-height: 18px;
  }
}

.delta700 {
  @extend .delta;
  font-weight: bold;
}

.epsilon {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.epsilon700 {
  @extend .epsilon;
  font-weight: bold;
}

.eta {
  font-family: var(--font-family-sans);
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.eta700 {
  @extend .eta;
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

.textLink {
  text-decoration: underline;
}
