.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.label {
  margin-right: 8px;
}
