.root {
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: var(--color-lila);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;

  &.isInline {
    display: inline-flex;
  }

  &.isFull {
    width: 100%;
    display: flex;
  }

  &.isMedium {
    height: 48px;
    padding: 0 16px;
  }

  &.isSmall {
    height: 24px;
    padding: 0 8px;
    text-transform: none;
  }

  &.isDanger {
    background-color: var(--color-red);
  }

  &.isOutlined {
    border-radius: 4px;
    border: 1px solid var(--color-lila);
    background-color: var(--color-white);
    color: var(--color-lila);

    &:hover {
      background-color: var(--color-lila);
      color: var(--color-white);
    }
  }
}
