.root {
  padding: 8px 32px;
  text-transform: uppercase;
  display: inline-flex;
  align-self: flex-start;
}

.isSizeS {
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
}

.isDefault {
  background: var(--color-lila);
  color: var(--color-white);
}

.isDanger {
  background: var(--color-red);
  color: var(--color-white);
}

.isLoading {
  opacity: 0.3;
  cursor: not-allowed;
}
