.root {
  padding: 16px 32px;
  text-transform: uppercase;
  width: 100%;
}

.isDefault {
  background: var(--color-lila);
  color: var(--color-white);
}

.isDanger {
  background: var(--color-red);
  color: var(--color-white);
}
