.tableRow,
.tableHeader {
  grid-template-columns: 60px minmax(100px, auto) 80px 100px 100px 110px 100px 100px 100px;
}

.compareCell {
  display: flex;
  justify-content: flex-end;
}

.nameCell {
  overflow-x: hidden;
}

@media (--m) {
  .pointsCell,
  .advanceCell,
  .genderCell,
  .lastActivityCell {
    display: none;
  }

  .tableRow,
  .tableHeader {
    grid-template-columns: 60px 200px 200px 140px 140px auto;
  }
}

@media (--s) {
  .pointsCell,
  .advanceCell,
  .bouldersCell,
  .flashedCell,
  .toppedCell,
  .genderCell,
  .lastActivityCell {
    display: none;
  }

  .tableRow {
    grid-template-columns: 10px minmax(70px, auto) auto;
  }

  .tableHeader {
    display: none;
  }
}
