.tableRow,
.tableHeader {
  grid-template-columns: 40px minmax(100px, 150px) 60px 60px auto 80px 80px 100px 100px;
}

.nameCell {
  overflow-x: hidden;
}

@media (--m) {
  .bouldersCell.bouldersCell,
  .genderCell.genderCell,
  .lastActivityCell.lastActivityCell {
    display: none;
  }

  .tableRow,
  .tableHeader {
    grid-template-columns: 40px auto 60px 60px 80px 100px;
  }
}

@media (--s) {
  .bouldersCell.bouldersCell,
  .flashedCell.flashedCell,
  .toppedCell.toppedCell,
  .genderCell.genderCell,
  .lastActivityCell.lastActivityCell,
  .rankCell.rankCell {
    display: none;
  }

  .tableRow {
    grid-template-columns: 40px 100px auto;
  }

  .tableHeader {
    display: none;
  }

  .compareCell {
    justify-content: flex-end;
  }
}
