.tableRow,
.tableHeader {
  grid-template-columns: 40px minmax(100px, 150px) 60px 60px auto 80px 80px 100px;
}

.nameCell {
  overflow-x: hidden;
}

.expanderCell.expanderCell {
  display: none;
}

@media (--m) {
  .genderCell.genderCell,
  .lastActivityCell.lastActivityCell {
    display: none;
  }

  .tableRow,
  .tableHeader {
    grid-template-columns: 40px minmax(100px, 150px) 60px auto 80px 80px;
  }
}

@media (--s) {
  .bouldersCell.bouldersCell,
  .flashedCell.flashedCell,
  .toppedCell.toppedCell,
  .genderCell.genderCell,
  .pointsCell.pointsCell,
  .lastActivityCell.lastActivityCell {
    display: none;
  }

  .tableRow {
    grid-template-columns: 40px auto 60px;
  }

  .tableHeader {
    display: none;
  }

  .expanderCell.expanderCell {
    display: block;
    justify-content: flex-end;
  }
}
