/* ._wrapper gets imported by globals/document.css to #__next */
._wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  padding: 0 16px;
  margin-top: 50px;

  @media (--s) {
    margin-top: 50px;
  }
}
