.listItem {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.listItem:last-child {
  padding-bottom: 0;
}

.ascent {
  display: flex;
  align-items: center;
}

.ascent svg {
  margin-right: var(--spacing-unit);
}

.isDoubtedAscent {
  opacity: 0.25;
}
