.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.root .loader {
  top: calc(50% - 30px);
  align-self: center;
}

.listItem {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.listItem:last-child {
  padding-bottom: 0;
}

.listAllButton {
  margin: 16px auto 0;
}

.content {
  margin: calc(2 * var(--spacing-unit));
}

.errorButton,
.commentButton {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: auto;
}

.commentButton {
  margin-top: 16px;
}

.errorButton {
  padding-bottom: 16px;
  margin-top: 16px;
}
