.links {
  margin-top: calc(2 * var(--spacing-unit));
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-unit);
}

.sections {
  grid-column: 1 / span 12;
}

.eventList:first-child {
  margin-top: 0;
}

.eventList {
  margin-top: calc(4 * var(--spacing-unit));
}
