.root {
  width: 100%;
  display: flex;
  align-items: center;
  appearance: none;
  border: 0;
  text-decoration: underline;
}

.isActive .icon {
  transform: rotate(90deg);
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 12px;
}

.icon {
  margin-left: auto;
  transform: rotate(0);
  transition: transform 200ms ease-in-out;
}
