.root {
  list-style: none;
  margin: 0;
}

.name {
  margin-bottom: calc(2 * var(--spacing-unit));
}

.options {
  margin-top: 8px;
  overflow-x: hidden;
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
}

.option {
  cursor: pointer;
  margin-bottom: var(--spacing-unit);
}

.hasIconOption {
  display: flex;
  align-items: center;
}

.hasIconOption > *:first-child {
  margin-right: var(--spacing-unit);
}
