.table {
  margin-top: 40px;
}

.header {
  @media (--s) {
    display: none;
  }
}

.row {
  display: grid;
  border-bottom: 1px solid var(--color-black);
  padding: 8px 0;

  @media (--s) {
    display: flex;
    flex-direction: column;
  }
}

.cell {
  @media (--s) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.cellLabel {
  display: none;

  @media (--s) {
    display: block;
  }
}
