.root {
  display: flex;
  padding: 0 16px;
  height: 60px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.item {
  margin-left: calc(2 * var(--spacing-unit));
}

.item:first-child {
  margin-left: 0;
}
