.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: calc(2 * var(--spacing-unit));
}

.image {
  width: 100%;
}

.description {
  margin-top: calc(2 * var(--spacing-unit));
}
