.root {
  position: relative;
  display: flex;

  &.isDoubted .item {
    opacity: 0.1;
  }

  &.isVertical {
    flex-direction: column;
  }
}

.item {
  margin-left: 8px;

  &:first-child {
    margin-left: 0;
  }
}

.isVertical .item {
  margin-left: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.doubtedLabel {
  position: absolute;
  opacity: 1;
}
