.refine {
  margin-top: 48px;
  padding-top: 16px;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 600;
}

.filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media (--xl-to-l) {
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 32px;
  }
}

.select {
  margin-top: 12px;
}

.holdTypeOption {
  display: flex;
  align-items: center;
}

.search {
  margin-top: 48px;
}

.table {
  margin-top: 48px;
}

.header {
  border-bottom: 1px solid var(--color-black);
  padding: 8px 0;
  display: none;

  @media (--xl-to-l) {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 20px 20px 80px 60px minmax(60px, auto) 200px 140px 140px 100px 136px;
  }
}

.headerCell {
  &.isExpanderHeaderCell {
    @media (--xl-to-l) {
      display: none;
    }
  }
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editButton {
  margin-right: 8px;
}
