.root {
  display: flex;
  padding: 16px;

  &.isError {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  &.isSuccess {
    background-color: var(--color-top);
    color: var(--color-white);
  }

  &.isInline {
    display: inline-flex;
  }

  &.isFull {
    width: 100%;
    display: flex;
  }
}
