.root {
  display: flex;
  align-self: center;

  @media (--s) {
    flex-direction: column;
  }
}

.root > li {
  @media (--s) {
    margin-top: 8px;
  }
}

.root > li:first-child {
  margin-top: 0px;
}

.separator {
  margin: 0 8px;

  @media (--s) {
    display: none;
  }
}
