.root {
  box-sizing: border-box;
  align-items: center;

  svg {
    margin: 0 auto;
    align-items: center;
    transition: transform 80ms ease-in-out;
  }

  &.withOutline {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-black);
  }
}
