.root {
  position: fixed;
  z-index: 600;
  left: 0;
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: all;
}

.isDefault {
  background: var(--color-lila);
  color: var(--color-white);
}

.isDanger {
  background: var(--color-red);
  color: var(--color-white);
}

.enter {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.leave {
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.isVisible {
  opacity: 1;
  bottom: 0;
}

.isHidden {
  opacity: 0;
  bottom: -100px;
}
